html, body {
    margin: 0px;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    overflow-y: hidden;
    position: relative;
}
::selection {
    background-color: #a1102dc5;
    ;
    color: #000000;
}
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
.header {
    width: 100%;
    height: 66px;
    display: grid;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid #000000;
    ;
}
.box, .box-shadow, .vertical, .horizontal {
    position: absolute;
    background-color: #000000;
}
.box {
    width: 16px;
    height: 16px;
    z-index: 200;
}
.boxes, .header, .sideline {
    transition: .3s;
}
.vertical {
    width: 3px;
    height: 49px;
    top: 9px;
    background-color: #C8C8C8;
}
.horizontal {
    width: 134.29px;
    height: 1px;
    background-color: #C8C8C8;
    top: 15px;
    left: 8px;
}
.hamburger {
    position: absolute;
    right: 7px;
    top: 9px;
    background-color: #a1102dc5;
    width: 44px;
    height: 44px;
}
.ham-shadow {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 44px;
    height: 44px;
    border: 1px solid #808080;
}
.hamburger span:nth-child(2) {
    margin: 16px 0px 16px 0px;
}
.hamburger span {
    background-color: #000000;
    width: 100%;
    height: 4px;
    display: block;
}
.hamburger, .hamburger span {
    cursor: pointer;
}
.hamburger:hover, .hamburger span:hover {
    background-image: url(glitchburger.gif);
    background-size: cover;
    background-position: center;
}
.hamburger span:hover {
    display: none;
}
.logotext {
    display: flex;
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 46px;
    font-weight: bolder;
}
.sideline {
    width: 0.5px;
    height: 195px;
    background-color: #C8C8C8;
    top: 74px;
    left: 5px;
    position: fixed;
}
.wrapper {
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}
.shard-wrapper {
    position: relative;
    width: 93%;
    min-height: 199px;
    height: 100%;
    margin-top: 35px;
    background-color: pink;
}
.shard {
    width: 93%;
    min-height: 199px;
   /* height: 100%;
    */
    margin-top: 35px;
    background-color: #C8C8C8;
    z-index: 99;
    box-shadow: 5px 0px #101010;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(missing.png);
}
.shard:hover>.chardnumber {
    right: 0;
    top: 0;
}
.shard:hover {
    transform: scale(1.01);
}
.shard:hover>.gradi {
    width: 93%;
}
.shard:hover>.cardfont font {
    display: block;
}
.gradi:hover:before {
    transform: translateX(-120%) skewX(-10deg);
}
.gradi {
    width: 55%;
    top: 35px;
    position: absolute;
    height: 85%;
    display: inline-block;
    transition: .3s;
}
.gradi:hover {
    width: 100% !important;
    height: 86%;
    border-bottom: 100px solid#000000c7;
    border-left: 0px solid transparent;
}
.gradi:hover::after {
    content: "READ";
    background-color: #dc143c70;
    color: #000000;
    bottom: -18px;
    text-decoration: underline;
    line-height: 65px;
    position: absolute;
    margin: 17px 0;
}
.bgborder {
    border: 1px solid #000000;
    width: 91%;
    height: 83%;
    position: absolute;
    display: block;
    top: 47px;
    left: 7.5%;
}
.chardnumber {
    position: absolute;
    width: 29px;
    height: 29px;
    right: 3.5%;
    top: 35px;
    border: 1px solid #808080;
    border-top: unset;
    border-right: unset;
    background-color: #101010;
    color: #D5D5D5;
    text-align-last: end;
}
.cardfont font {
    display: none;
    font-size: 20px;
    color: #fff;
   /* float: left;
    */
    position: absolute;
    margin-bottom: top;
   /* transform: translate(-14px, -17px);
    */
    bottom: -42px;
    left: 10px;
}
/* Modal */
.modal-content {
    background-color: #fff !important;
    border: 1px solid #999 !important;
    border: 1px solid rgba(0, 0, 0, .2) !important;
    box-shadow: -3px 0px 0px 0px rgb(0, 0, 0) !important;
    border-radius: unset !important;
}
.btn {
    border-left: 2px solid #010000 !important;
    border-right: unset !important;
    border-top: unset !important;
    border-bottom: unset !important;
    border-radius: unset !important;
}
/* Sidebar area */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar a:active {
    color: #a1102d;
}
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/* end of sidebar area */
.scrollToTop {
    display: flex;
    align-items: center;
    margin: 44px 0px;
    flex-flow: column;
    font-weight: bold;
    height: 100px;
}
.scrollToTop img:hover {
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.1);
}
.gradi_box {
    background-image: url(asset3.png);
    background-size: 0% 100%;
    height: 100%;
    width: 100%;
    display: inline-block;
    position: relative;
    image-rendering: optimizespeed;
    margin-top: -30px;
    background-repeat: no-repeat;
    transition: .3s;
    font-size: 0;
    padding: 10px 45px 10 10;
    opacity: 0.8;
}
.gradi_box:hover {
    background-size: 100% 100%;
    font-size: 23;
    font-family: bold;
    color: white;
}
.gradi_box:hover>.card_desc {
    font-size: 20 !important;
}
.text_content {
    opacity: 1;
}
@media only screen and (min-width:800px) {
    .wrapper {
        display: flex;
        justify-content: center;
        position: relative;
       /* flex-wrap: wrap;
        */
        width: 34%;
        height: 100%;
        margin: 0px 2%;
   }
    .boxes {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
   }
    .shard p {
        font-weight: 700;
        transform: rotate(90deg);
        transform-origin: 0 0;
        text-transform: uppercase;
   }
    .shard {
        min-height: 250px;
   }
    .scramble::after {
        content: ":LO";
        color: rgb(126, 126, 126);
   }
    .gradi:hover::after {
        margin: 21px 0;
   }
}
